.main-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    border: 0;
    border-radius: 4px;
    background-color: #1890FF;
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    cursor: pointer;
    outline: 0;
    transition: 0.3s;
  }
  
  .main-button:hover {
    background-color: #107de2;
  }