.nav-container {
    height: 60px;
    background-color: #1890FF;
    display: flex;
    align-items: center;
  }
  
  .nav-content {
    padding: 15px 0 15px 40px;
  }
  
  .nav-logo-text {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: normal;
    line-height: 32px;
    color: #FFF;
  }